@{
    Layout="_Layout";
}

<h1>Welcome to Level Sketcher!</h1>

Select Genre:

<form method="post" action="@Url.Action("tileSetSelected", "HomeController")">
    <label for="tileSet">Select a tile set:</label>
    <select id="tileSet" name="tileSet">
        <option value="Platformer">Platformer</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Dungeons">Dungeons</option>
    </select>
    <button type="submit">Submit</button>
</form>

